.disabled
{
    visibility: hidden;
}
/** Setting text color to wheat 
.sidenavlink, .nav-link, .navbar-brand, .tableheader, .searchbutton, .sidenav, .topnav, .topnavbar, .accordion-button, .dd-checkbox, #sortoptionsbutton
{
    color: wheat;
}

.accordion-button:not(.collapsed) 
{
    color: wheat;
}
**/


#graphemesGroup,
#syllableDivisionGroup,
#syllableTypesGroup,
#morphemesGroup,
#spellingConventionsGroup
{
    height: 400px; 
    overflow-y: scroll;
}

.toolbar {
    float:right;
}